# Virtual Environment
venv/
.venv/
env/
 
# Python cache
__pycache__/
*.py[cod]
 
# Distribution / packaging
dist/
build/
*.egg-info/
 
# Environment variables
.env
 
# Jupyter Notebooks
.ipynb_checkpoints/
 
# IDE
.vscode/
.idea/
 
# OS
.DS_Store
Thumbs.db
 
# R
.Rproj.user
.Rhistory
.RData
.Rapp.history
.Renviron
.Rprofile

# Ignore data directories (if you want to keep them locally but not in Git)
data/
paper_data/
*.csv